[submodule "frontend"]
	path = frontend
	url = https://github.com/harpershapiro/MoltenSampleFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/harpershapiro/MoltenSampleBackend.git
